*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.user-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
#profile-picture-employee{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
#employee-file{
    display: none;
}
#emp-file-upload-btn{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    background-color: gray;
    transform: translateX(-90%);
    margin-top: 100px;
}